$bgc: #990703; 
$ff: cursive;

div {
  background-color: bgc;
}
.navbar-inverse {
    background-color: pink;
    border-color: #249cb6;
}
h1 {
 color: green;
}

body {
   font-size: 20px;
   font-family: 'Paprika', $ff;
   color: white;
   
    }
    
h2 { 
color: $bgc;
font-family: $ff;

}
